* {
    padding:0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Verdana', Arial, sans-serif;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

body {
    background: linear-gradient(90deg, rgb(74, 213, 255) 10%, rgb(0, 52, 101) 90%);
}

header nav {
    display:flex;
    flex-direction: row;
}

.boton-menu {
    /* align-self: center; */
    width: 125px;
    height: 40px;
    margin:5px;
    font-weight: bold;
    font-size:17.5px;
    background-color: rgb(102, 87, 184);
    color:white;
}

.boton-menu p {
  font-size:17.5px;
  color:white;
}

.buscador {
    position:absolute;
    right:5%;
}

#input_texto {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor:auto;
}

.input_buscador {
    height: 30px;
    width: 215px;
}

#btn-perfil {
    position: absolute;
    top:0.3%;
    right:0.25%;
    border-radius: 50%;
    border-style:hidden;
    width: 45px;
    height: 45px;
    color:white;
    background-color: rgb(102, 87, 184);
}

button:hover,form input {
    cursor:pointer;
} 

#btn-perfil:active {
    background-color: #6c6cffc5;
}

/* .boton_inicio {
    width: 100px;
    height: 80px;
} */
.articulos {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}

.articulos div {
    position:relative;
    display:flex;
    display:inline-block;
    justify-items: auto;
    margin:20px;
    margin-right:auto;
    justify-content: center;
}

.articulos div p {
    text-align: center;
    color: black;
    background-color: aliceblue;
    bottom:1.25%;
    width: 215px;
    height:25px;
    /* opacity: .3; */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5515f6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #1803f9;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #270dd1;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
  background-image:url('../img/fondo.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.pelicula {
  margin:12.5px;
  width: 97.5%;
  height: 750px;
  display:flex;
  flex-direction: row;
  opacity: .8;
  border-radius:20px;
}

.caja_comentarios {
  right:1.5%;
  position: absolute;
  top:65px;
  width: 25%;
  height:700px;
  border-radius:20px;
  background: linear-gradient(rgb(250, 139, 117),rgb(250, 223, 117));
}

.pelicula div {
  margin:20px;
}

.info_pelicula .imagen {
  position: absolute;
  top:90px;
  margin-left:37.5px;
}

.pelicula {
  background: linear-gradient(rgb(117, 117, 250),rgb(192, 117, 250));
}

/*h1 para la caja de info_pelicula (la principal)*/
.info_pelicula div h1 {
  position:absolute;
  top:65px;
  left:42.5%;
  text-align: center;
  text-decoration:underline;
  font-size:50px;
  margin-bottom: 20%;
  color: white;
}

/*h3 es para la caja de comentarios*/
.info_pelicula div h3 {
  position:absolute;
  top:90px;
  right:7%;
  color:white;
  text-align: center;
  font-size:35px;
  margin-bottom: 10%;
}

/* .info_pelicula div p {
  top:140px;
  left:42.5%;
  width: 200px;
  position:absolute;
  opacity:1;
  font-size:22.5px;
  color:rgb(31, 4, 77);
} */

#director, #anio, #fecha_estreno, #sinopsis {
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  width: 37.5%;
  left:32.5%;
  color:rgb(31, 4, 77);
  margin-bottom: 15%;
}

#director {
  top:200px;
  position:absolute;
}

#anio {
  top:250px;
  position:absolute;
}

#fecha_estreno {
  top:300px;
  position:absolute;
}

#sinopsis {
  top:350px;
  position:absolute;
}

/*informacion de los comentarios*/
/* .comentarios {
  display:flex;
  flex-direction: row;
  right:20%;
  top:200px;
  position:absolute;
  width: 300px;
  height:300px;
} */

.seccion_comentarios {
  font-size:22.5px;
  display:flex;
  top:200px;
  width:20%;
  right:7%;
  flex-direction: column;
  position: absolute;
}

.seccion_comentarios p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
  color:black;
}