* {
    padding:0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Verdana', Arial, sans-serif;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

body {
    background: linear-gradient(90deg, rgb(74, 213, 255) 10%, rgb(0, 52, 101) 90%);
}

header nav {
    display:flex;
    flex-direction: row;
}

.boton-menu {
    /* align-self: center; */
    width: 125px;
    height: 40px;
    margin:5px;
    font-weight: bold;
    font-size:17.5px;
    background-color: rgb(102, 87, 184);
    color:white;
}

.boton-menu p {
  font-size:17.5px;
  color:white;
}

.buscador {
    position:absolute;
    right:10%;
}

#input_texto {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor:auto;
}

.input_buscador {
    height: 30px;
    width: 215px;
    border-radius:50px;
}

#btn-perfil {
    position: absolute;
    top:0.3%;
    right:0.25%;
    border-radius: 50%;
    border-style:hidden;
    width: 45px;
    height: 45px;
    color:white;
    background-color: rgb(102, 87, 184);
}

button:hover,form input {
    cursor:pointer;
} 

#btn-perfil:active {
    background-color: #6c6cffc5;
}

/* .boton_inicio {
    width: 100px;
    height: 80px;
} */
.articulos {
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.articulos div {
    position:relative;
    display:flex;
    display:inline-block;
    justify-items: auto;
    margin:20px;
}

.articulos div p {
    text-align: center;
    color: black;
    background-color: aliceblue;
    bottom:1.25%;
    width: 215px;
    height:25px;
    /* opacity: .3; */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5515f6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #1803f9;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #270dd1;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
  background-image:url('../img/fondo.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.pelicula {
  margin:12.5px;
  width: auto;
  height: 750px;
  display:flex;
  flex-direction: row;
  opacity: .8;
  border-radius:20px;
}

.caja_comentarios {
  right:1%;
  position: absolute;
  top:65px;
  width: 25%;
  height:700px;
  border-radius:20px;
  background: linear-gradient(rgb(250, 139, 117),rgb(250, 223, 117));
}

.pelicula div {
  margin:20px;
}

.info_pelicula .imagen {
  position: absolute;
  top:90px;
  margin-left:37.5px;
}

.pelicula {
  background: linear-gradient(rgb(117, 117, 250),rgb(192, 117, 250));
}

/*h1 para la caja de info_pelicula (la principal)*/
.info_pelicula div h1 {
  position:absolute;
  top:70px;
  width: 450px;
  left:32.5%;
  text-align: center;
  text-decoration:underline;
  font-size:50px;
  color: white;
}

/*h3 es para la caja de comentarios*/
.info_pelicula div h3 {
  position:absolute;
  top:90px;
  right:8%;
  color:white;
  text-align: center;
  font-size:35px;
}

#director, #anio, #fecha_estreno, #sinopsis {
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  width: 37.5%;
  left:32.5%;
  color:rgb(31, 4, 77);
  margin-bottom: 15%;
}

#director {
  top:250px;
  position:absolute;
}

#anio {
  top:300px;
  position:absolute;
}

#fecha_estreno {
  top:350px;
  position:absolute;
}

#sinopsis {
  top:400px;
  position:absolute;
}

.seccion_comentarios {
  font-size:22.5px;
  display:flex;
  top:175px;
  width:20%;
  right:7%;
  flex-direction: column;
  position: absolute;
}

.seccion_comentarios p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
  color:black;
}

.caja_opciones .caja {
  margin:12.5px;
  width: auto;
  height: 195px;
  display:flex;
  flex-direction: row;
  opacity: .8;
  border-radius:20px;
  background: linear-gradient(rgb(159, 203, 154),rgb(92, 216, 187));
}

.caja_opciones .caja div {
  margin:20px;
}

#boton_enviar_comentario, #boton_editar, #boton_eliminar {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #5515f6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  cursor: pointer;
}

#boton_editar, #boton_eliminar {
  font-size:50px;
}

/*Tu opinion sobre la pelicula:*/
.caja_opciones .hacer_comentario label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  display:flex;
  flex-direction:row;
  position: absolute;
  top:835px;
  left:27.5px;
}

/*Ingrese su opinión:*/
.caja_opciones .hacer_comentario textarea {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top:880px;
  left:27.5px;
  opacity: .8;
}

/*Enviar comentario*/
.caja_opciones .hacer_comentario input {
  position: absolute;
  top:965px;
  left:27.5px;
}

#boton_enviar_comentario {
  border-radius:20px;
  width: 25%;
}

.secciones_nav_header {
  display:flex;
  flex-direction: row;
  color:rgb(192, 117, 250);
}

.secciones_nav_header a {
  color:rgb(248, 243, 248);
}

.secciones_nav_header a:active {
  color:rgb(223, 184, 223);
}

.publico {
  width: auto;
  margin-top:6px;
  display:flex;
  flex-direction: column;
}

.privado .caja_etiqueta {
  margin-top:6px;
  position: absolute;
  width: auto;
  left:37.5%;
}

.privado a {
  display:flex;
}

.nombre_user {
  position: absolute;
  right:1%;
  top:14px;
}

.directores li, .generos li, .imagenes li {
  float:left;
  width: calc(100%/5);
  padding:3px;
}

li {
  font-family:Serif;
  font-size: 18px;
  list-style:none;
}

.dir_gen_img {
  display:flex;
  flex-direction: column;
}

.dir_gen_img div h3 {
  font-family: Times;
}

.caja_directores, .caja_generos, .caja_imagenes {
  margin:12.5px;
  opacity: .4;
  width: auto;
  height: 275px;
  opacity: .8;
  border-radius:20px;
}

.caja_directores {
  background: linear-gradient(rgb(154, 203, 201),rgb(245, 208, 105));
}

.caja_generos {
  background: linear-gradient(rgb(154, 203, 201),rgb(245, 208, 105));
}

.caja_imagenes {
  background: linear-gradient(rgb(154, 203, 201),rgb(245, 208, 105));
}

.directores {
  position: absolute;
  left:50px;
  top:87.5px;
}

.generos {
  position: absolute;
  left:50px;
  top:387.5px;
}

.imagenes {
  position: absolute;
  left:50px;
  top:675px;
}