{% extends './peliculas.html' %}

{% block content %}
<h1>{{unaPeli.nombre}}</h1>
<div class="pelicula">
  <div class="imagen">
    <img src="{{unaPeli.img}}" alt="{{unaPeli.nombre}}" width="25%" height="25%">
  </div>
  <div class="info">
    <p>{{unaPeli.director}}</p>
    <p>{{unaPeli.anio}}</p>
    <p>{{unaPeli.fecha_estreno}}</p>
    <p>{{unaPeli.sinopsis}}</p>
  </div>
</div>



{% for comentario in unaPeli.comentarios%}
  <p><strong>{{comentario['usuario']}}: </strong>{{comentario.comentario}}</p>
{% endfor %}
{% if user == "" %}
<span></span>
{% else %}
<div>
  <form method="POST">
    <label for="hacer-comentario">Tu opinion sobre la pelicula: </label>
    <textarea name="comentario" id="" cols="50" rows="7"></textarea>
    <input type="submit" value="Enviar comentario">
  </form>
</div>
<div>
  <form action="/pelicula/editar/{{ unaPeli.nombre }}">
    <input type="submit" value="Editar {{unaPeli.nombre}}">
  </form>
</div>
{% if comentarios == 1 %}
<span></span>
{% else %}
<div>
  <form action="/pelicula/eliminar/{{ unaPeli.nombre }}">
    <input type="submit" value="Eliminar {{unaPeli.nombre}}">
  </form>
</div>
{% endif%}
{% endif%}
{% endblock %}