<!DOCTYPE html>
<html>
    <head>
        <title>Programacion 2</title>
        <!--<link href="css/estilos_index.css" rel="stylesheet">--> <!-- Tira error 404 si en este archivo no hay nada-->
        <meta charset="utf-8">
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <div class="boton_inicio"><button><a  href="index.html">Inicio</a></button></div>

                    <div class="boton_buscar">
                        <form action="/inicio" method="POST">
                            <label for="Buscador">Buscar</label>
                            <input type="text" name="info_buscar"><br/>
                            <input type="submit" value="Enviar" />
                        </form>
                    </div>

                    <div class="boton_perfil"><button><a href="perfil.html">Perfil</a></button></div>
                    
                </nav>
            </header>

            <hr>

            <main>
                <article>
                    <div class="articulos">
                        <div id="articulo1">
                            <img src="{{ imagenes_peliculas[0] }}" alt="imagen" width="200px" height="300px">
                            <p> {{ nombre_peliculas[0] }}</p>
                        </div>

                    </div>
                </article>
            </main>

            <footer>
            </footer>
        </div>
        <style>
        .articulos div {
            position:relative;
            display:flex;
            display:inline-block;
        }
        
        .articulos div p {
            position:absolute;
            bottom: -4%;
            width: 100%;
            height: 15%;
            background: #FF7A59;
            opacity: .6;
        }
        </style>
    </body>
</html>