<!DOCTYPE html>
<html>
    <head>
        <title>Películas Online</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">

        <link rel="stylesheet" href="../static/css/estilos_index.css">
        <!-- 304 Not Modified en el response de la petición indica que no hay necesidad de retransmitir los recursos solicitados. -->
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <div>
                        <form method="get" action="/peliculas">
                            <button class="boton-menu"> 
                                <p>Inicio</p>
                            </button>
                        </form> 
                    </div>
                       
                    <div class="buscador">
                        <form action="/buscar" method="POST" class="formulario_buscar">
                            <!-- <label for="Buscador">Buscar</label> -->

                            <input type="text" name="info_buscar" placeholder=" Que desea buscar?" 
                            class="input_buscador" required>
                            <!-- uso </br> si quiero separar el boton del ingreso de información a buscar.-->
                            <!--Name="..." es la info que recibe Flask en python.-->

                            <input type="submit" value="Buscar" class="boton-menu"/>
                        </form>
                    </div>

                    <div>
                      {% if user == "" %}
                      <a href="{{url_for('login')}}">
                        <button id="btn-perfil"> 
                          <span class="material-icons">manage_accounts</span>
                        </button>
                      </a>
                      {% else %}
                      {{user}}
                      <a href="{{url_for('logout')}}">Cerrar sesion</a>
                      <a href="{{url_for('agregarPelicula')}}">Agregar Pelicula</a>
                      {% endif %}
                    </div>
                    <div>
                      {% block mod %}
                      {% endblock %}
                    </div>
                </nav>
            </header>

            <hr>

            <main>
              {% block content %}
                <article>
                    <div class="articulos">
                            {% if nombre_peliculas|length > 0 %}
                                {% for i in range(nombre_peliculas|length) %}
                                    <div id="{{i}}">
                                      <a href="/pelicula/{{ nombre_peliculas[i] }}">
                                        <img src="{{ imagenes_peliculas[i] }}" alt="imagen" width="200px" height="300px"> 
                                      </a>
                                        <p>{{ nombre_peliculas[i] }}</p>
                                    </div>
                                {% endfor %}

                            {% else %}
                                <h1>No se encontró ninguna película con lo que buscó.</h1>
                            {% endif %}
                      </div>
                  </article>
              {% endblock %}
            </main>

            <footer>
            </footer>
        </div>
        <style>
            
        </style>
    </body>
</html>