<!DOCTYPE html>
<html>
    <head>
        <title>Películas Online</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilos_index.css')}}">
        <!-- 304 Not Modified en el response de la petición indica que no hay necesidad de retransmitir los recursos solicitados. -->
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <div>
                        <a href="{{url_for('index')}}">
                            <button class="boton-menu"> 
                                <p>Inicio</p>
                            </button>
                        </a>
                    </div>
                       
                    <div class="buscador">
                        <form action="/buscar" method="POST" class="formulario_buscar">
                            <!-- <label for="Buscador">Buscar</label> -->

                            <input type="text" id="input_texto" name="info_buscar" placeholder=" Que desea buscar?" 
                            class="input_buscador" required>
                            <!-- uso </br> si quiero separar el boton del ingreso de información a buscar.-->
                            <!--Name="..." es la info que recibe Flask en python.-->

                            <input type="submit" value="Buscar" class="boton-menu">
                        </form>
                    </div>

                    <div>
                      <a href="{{url_for('dGI')}}">Directores, generos e imagenes</a>
                      <a href="{{url_for('allPelis')}}">Todas las Peliculas</a>
                      {% if user == "" %}
                      <a href="{{url_for('login')}}">
                        <button id="btn-perfil"> 
                          <span class="material-icons">manage_accounts</span>
                        </button>
                      </a>
                      {% else %}
                      {{user}}
                      <a href="{{url_for('logout')}}" id="cerrar_sesion">Cerrar sesion</a>
                      <a href="{{url_for('agregarPelicula')}}" id="agregar_pelicula">Agregar Pelicula</a>
                      {% endif %}
                    </div>
                    <div>
                      {% block mod %}
                      <!--Estaban los botones, editar, eliminar...-->
                      {% endblock %}
                    </div>
                </nav>
            </header>

            <main>
              {% block content %}
                <article>
                    <div class="articulos">
                            {% if nombre_peliculas|length > 0 %}
                                {% for i in range(nombre_peliculas|length) %}
                                    <div id="{{i}}">
                                      <a href="/pelicula/{{ nombre_peliculas[i] }}">
                                        <img src="{{ imagenes_peliculas[i] }}" alt="imagen" width="215px" height="325px"> 
                                      </a>
                                        <p>{{ nombre_peliculas[i] }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h1>No se encontró ninguna película.</h1>
                            {% endif %}
                      </div>
                  </article>
              {% endblock %}
            </main>

            <footer>
            </footer>
        </div>

        <link rel="stylesheet" href="{{url_for('static',filename='css/estilos_index.css')}}">
        <script src="{{url_for('static', filename='js/js.js')}}"></script>
    </body>
</html>